:root{
    --font-color-type-1:white;
    --font-color-type-2:#A0A0A8;
    --bg-color:#0f0f14;
    --btn-color: rgba(255, 255, 255, 0.08);
    --navbar-bg: rgba(30, 94, 196, 0.171);
    --bg-hover-type-1: rgba(255, 255, 255, 0.308);
    --accent-color: #3B82F6;
    --border-color:linear-gradient(130deg, #1e5ec485, #23336654);
    --navbarSpace: 5em;
    --padding-type-1: 1em 0 1em 0;
    --padding-type2: 5em;
    --gap-type-1: 2em;
    --em-type-1:1.5em;
    --font-size-mobile: 3.5em;
    --font-size-desktop: 6em;
    --cards-hover:translateY(-4px);
    --cards-hover-2:translateY(-2px);
    --margin-type-1: 0 auto;
    --box-shadow-low: 0 10px 30px rgba(0,0,0,0.4);
    --transition-fast:transform 0.25s ease, opacity 0.3s ease-in-out ;
    --transition-slow: transform 0.8s ease, opacity 0.7s ease-in;
    --transition-middle: transform 0.6s ease, opacity 0.7s ease-in;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Work Sans", sans-serif;
    background-color: var(--bg-color);
    color:var(--font-color-type-1);
}


/* navbar y sus listas */

.navbar{
    position:fixed;
    display:flex;
    top:0;
    transform: translateX(-100%);
    gap:var(--gap-type-1);
    width:100%;
    height: 100%;
    opacity: 0;
    transition: var(--transition-fast);
    background: var(--navbar-bg);
    backdrop-filter: blur(8px);
    z-index: 1000;
}
.navbar.open{
    transform: translateX(0);
    opacity: 1;
}
.caja-listas{
    display:flex;
    max-width: 400px;
    min-width: 300px;
    gap:var(--gap-type-1);
    align-items: center;
    padding-top:var(--padding-type2);
    margin-top: 5em;
    flex-direction: column;
}
.menu-btn{
    font-size: var(--em-type-1);
    width: var(--em-type-1);
    height: var(--em-type-1);
    z-index: 999;
    background-color:var(--btn-color);
    border-radius: 5px;
    border:0;
}
.btn-close{
    display:flex;
    align-items: center;
    position:fixed;
    top:0;
    justify-content: center;
    width: 3em;
    height: 3em;
    font-size: 1.2em;
    z-index: 999;
    background-color:var(--btn-color);
    border-radius: 5px;
    border:0;
    cursor: pointer;

}
.logo-btn{
    display:flex;
    position: sticky;
    z-index: 1000;
    left:0;
    top:0;
    gap:1.5em;
    margin:0 auto;
    padding: 2em;
    background-color: var(--btn-color);
    box-shadow: 0px 1px 22px 0.1px rgba(78, 77, 77, 0.200);
    width: 100%;
}
.listas-nav{
    display:flex;
    justify-content: start;
    list-style: none;
    width: 100%;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.listas-nav:hover{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.164);
}
.listas-nav:active{
    background-color: var(--bg-color);
}
.anclaje{
    text-decoration: none;
    padding:var(--em-type-1);
    color:var(--font-color-type-1);
}

/* texto y logo  (animaciones) */

.main-central{
    transform: translateY(15%);
    transition: var(--transition-middle);
    opacity: 0;
    padding-bottom: 3em;
}
.caja-central{
    display:flex;
    margin-top: var(--navbarSpace);
    justify-content: center;
    align-items: center;
}
.logo{
    display:block;
    margin-top: var(--navbarSpace);
    width: 350px;
    
}
.performance{
    color:gray;
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
}
.text-blanco{
    color:var(--font-color-type-1);
}
.animacion-entry{
    transform: translateY(0) translateX(0);
    opacity: 1;
}
.pd-pc{
    width: 98%;
    padding:1em;
}
.texto-descripcion{
    font-size: 1.2em;
    padding:1em 0;
    text-align: center;
    margin:0 auto;
    width: 100%;
    color:var(--font-color-type-1);
    padding-top: 1.5em;

}
.texto-grande{
    padding:2em;
}
.text-centrado{
    text-align: center;
    transition:var(--transition-middle);
}
.text-izq{
    transform: translateX(-30%);
    transition:var(--transition-middle);
    margin-top: 1em;
    text-align: start;
}
.text-right{
    transform:translateX(30%);
    transition:var(--transition-middle);
}
.precio{
    color:var(--font-color-type-2);
}
.nosotros{
    text-align: start;
}
/* contactos y links */

.inf-contactos{
    border-radius:10px;
    width: 100%;
    background-color: #16161f;
    margin:3em auto;
    box-shadow: var(--box-shadow-low);

}
.text-izq.animacion-entry{
    transform:translateX(0);
}
.text-right.animacion-entry{
    transform:translateX(0);
}
.contactos{
    display:flex;
    justify-content: center;
    padding:0.8em;
    border-radius: 50px;
    width: 100%;
    background:var(--accent-color);
    color:var(--font-color-type-1);
    text-decoration: none;
    cursor:pointer;
    align-items: center;
    text-align: center;
    font-weight: 600;
    transition:var(--transition-fast);

}

.contactos:hover{
    opacity: 0.8;
}
.contactos:active{
    background-color:var(--bg-hover-type-1);
    opacity: 0.5;
}
.links-contactos{
    display:flex;
    justify-content: center;
    width: 95%;
    padding:3em;
    color:rgb(57, 57, 148);
    border-radius: 10px 10px 0 0;
}
.socialmedia{
   width: 35px;
}
.btn-links{
    background-color:#16161f98;
    
}
.proceso{
    background-color:#16161f98;
    box-shadow: var(--box-shadow-low);
    margin:2em auto;
}
/* aca van los stylos de cualquier lista */

.list-style{
    list-style: none;
    text-align: center;
    transition: var(--transition-fast);
}
.list-style:hover{
    transform: scale(1.05);
}


/* seccion de pc's prebuilds y/o todo relacionado a pcs */
.inf-img{
    margin:4em 0;
}
.list-of-pc{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:2em;
    padding-bottom: 2em;
    background-color: #16161f98;
    border-radius: 10px;
}
.ft-of-pc{
    display:block;
    margin: 0 auto;
    max-width: 250px;
    width: clamp(150px,350px,100%);
    height: auto;
}
.faq{
    margin:0 auto;
    width: 95%;
}
.fotos-grandes{
    display:block;
    margin:0 auto;
    border-radius: 30px;
    width: 350px;

}
.faq li{
    list-style: none;
    margin: 0 auto;
}

/* colores y otras funciones */
.inner-color{
    border-radius:10px;
    width: 100%;
    height: 100%;
}
.border-color{
    background-image: var(--border-color);
    border-radius:  10px 10px 0px 0px ;
    color:var(--font-color-type-1);
}
/* el footer va aca */

.footer{
    background-color: var(--btn-color);
}
.ubi{
    display:flex;
    justify-content: center;
}


 @media (min-width:1024px){
    .navbar{
        width: 100%;
        padding:1em;
        height: auto;
        transform:translateX(0);
        opacity: 1;
    }
    .caja-listas{
        width: auto;
        height: auto;
        justify-content: center;
        margin:0 auto;
        width: 100%;
        padding:0;
        flex-direction: row;
    }
    .logo-btn{
        display:none;
        padding:0;
        
    }
    .menu-btn{
        display:none;
    }
    .btn-close{
        display:none;
    }
    .texto-logo{
        font-size: var(--font-size-desktop);
        letter-spacing: 0.1em;
        font-weight: 800;
    }
    .garantia:hover{
        transform: var(--cards-hover);
        transition: var(--transition-fast);
    }

    /* contactos */
    
    .inf-contactos{
        width: 30vw;
        height: 100%;
        margin:1em auto;
    }
    .inf-contactos:hover{
        transform: var(--cards-hover);
        transition: var(--transition-fast);
    }
    /* listas y imagenes */
    .pd-pc{
        width: 90%;
    }
    .list-of-pc{
        padding:5em;
        grid-template-columns: repeat(3,1fr);
        width: 90%;
        margin:0 auto;
    }
    .contactos{
        width: 35%;
        margin:1em auto;
    }
    .contactos:hover{
        transform: var(--cards-hover-2);
    }
    .texto-descripcion{
        font-size: 1.5em;
        padding:1.2em 0;
    }
    .text-izq{
        text-align:center;
        margin-top: 1em;
    }
    .texto-grande{
        font-size: 1.02em;
        padding:1em;
    }
    .links-contactos{
        width: 50%;
        margin:0 auto;
    }
    .btn-links{
        width: 50%;
        margin:2em auto;
        padding-bottom: 1em;
    }
    .grid-display{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        margin:4em auto ;
        
    }
    .nosotros{
        grid-template-columns: repeat(2,1fr);
    }
    .proceso{
        width: 30vw;
        height: 100%;
        margin:1em auto;
    }
    .proceso:hover{
        transform: var(--cards-hover);
        transition: var(--transition-fast);
    }
    .nosotros{
        width: 60%;
        margin:1em auto;
    }
    .faq{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        text-align: start;
        width: 100%;
    }
    .fotos-grandes{
        width: 650px;
    }
}